/* .main-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-email{
    padding: 5px;
    outline: none;
    border: 1px solid #aaa;
    align-items: center;
    justify-content: center;
} */